---
import { NUMBER_OF_POSTS_PER_PAGE } from '../server-constants.ts'
import {
  getPosts,
  getAllTags,
  getNumberOfPages,
} from '../lib/notion/client.ts'
import Layout from '../layouts/Layout.astro'
import PostsGrid from '../components/PostsGrid.astro'
import Pagination from '../components/Pagination.astro'
import styles from '../styles/blog.module.css'

export const prerender = true

const [posts, tags, numberOfPages] = await Promise.all([
  getPosts(NUMBER_OF_POSTS_PER_PAGE),
  getAllTags(),
  getNumberOfPages(),
])
---

<Layout>
  <div slot="main" class={styles.main}>
    <PostsGrid posts={posts} />

    <footer>
      <Pagination currentPage={1} numberOfPages={numberOfPages} />
    </footer>
  </div>

</Layout>

<style is:global>
  .post-card {
    transition: opacity 0.2s;
  }
  .post-card:hover {
    opacity: 0.7;
  }
</style>
