---
import { Post } from '../lib/interfaces.ts'
import { filePath } from '../lib/blog-helpers'

export interface Props {
  post: Post
}

const { post } = Astro.props

let image = ''
if (post.FeaturedImage && post.FeaturedImage.Url) {
  if (import.meta.env.DEV) {
    image = post.FeaturedImage.Url
  } else {
    image = filePath(new URL(post.FeaturedImage.Url))
  }
}
---

<div class="post-featured-image">
  {image
    ? <img src={image} alt="Featured image of the post" />
    : post.Icon && post.Icon.Type === 'emoji' && (
        <span class="placeholder-emoji">{post.Icon.Emoji}</span>
      )
  }
</div>

<style>
  .post-featured-image {
    position: relative;
    margin: 0.6rem 0 0.4rem;
    border-radius: 8px;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    background-color: #f4f4f4;
  }
  .post-featured-image::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.2s;
  }
  :global(.post-card:hover) .post-featured-image::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .post-featured-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .placeholder-emoji {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    line-height: 1;
  }
</style>
